       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }
       
       .container {
           flex-wrap: wrap;
           padding-left: 7rem;
           padding-right: 7rem;
       }
       
       .content {
           display: flex;
           padding: 3rem;
           padding-top: 4rem;
       }
       
       .desk {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           padding-top: 10px;
       }
       
       .mobNav{
           display: none;
       }.mobnav-none{
        display: none;
        visibility: hidden;
       }
       /*cart */
       .cart-none {
           display: none;
           visibility: hidden;
           
       }
       .cart-show {
        display: flex;
        width: 250px;
        height: 200px;
        float: right;
        flex-direction: column;
        position:relative;
        padding: 0.5rem;
        box-shadow: 0 0 1rem 0;
    }
    #cartClass div{
        padding: 1rem 0 1rem 0;
    }
    .cartFull img{
        width: 32px;
    }
       /* #iconCart:hover {
           
       } */
       .total{
           display: flex;
           
       }
       .checkout button{
        background-color: hsl(26, 100%, 55%);
        color: hsl(0, 0%, 100%);
        border: none;
        width: 80%;
        gap: 1rem;
        height: 2rem;
        border-radius: 10px;
    }
       nav a:hover {
           border-bottom: solid hsl(26, 100%, 55%);
           color: hsl(220, 13%, 13%);
       }
       
       .logo {
           padding: 15px;
       }
       .menu{
           gap: 5px;
           display: flex;
           
       }.iconCart{
        display: flex;
        flex-direction: column;
       }.iconCart span{
        color: hsl(26, 100%, 55%);
       }
       #avatar:hover {
           border: 2px solid hsl(26, 100%, 55%);
           border-radius: 50%;
       }
       #avatar{
           width: 42px;
           margin: 1rem;
       }
       
       nav ul {
           display: flex;
           list-style-type: none;
       }
       
       nav li,
       a {
           text-decoration: none;
           padding: 22px;
           color: hsl(219, 9%, 45%);
       }
       
       .menu-icon {
           height: 15px;
           margin-left: 20px
       }
       
       /* #mobnav {
           display: none;
           
       } */
       
       #mobnav {
           /* display: none; */
           background-color: white;
           width: 60vw;
           height: 100vh;
           position: absolute;
           left: 0;
           top: 0;
           padding: 5%;
       }
       
       .close {
           margin-bottom: 5%;
       }
       
       #mobnav ul {
           list-style: none;
           display: flex;
           flex-direction: column;
       }
       
    
       
       .one {
           padding: 1rem;
       }
       
    .mainImage {
           border-radius: 10px;
           width: 350px;
           height: 350px;
       }
       
       .arrows {
           display: none;
       }
       
       .arrows img {
           background-color: hsl(0, 0%, 100%);
           padding: 2%;
           height: 30px;
           border-radius: 50%;
       }
       
       .two {
           display: flex;
       }
       
       .two li {
           list-style: none;
           padding-right: 1.5rem ;
       }
       
       .two img {
           border-radius: 10px;
           width: 60px;
       }
       
       .two img:hover {
           opacity: 0.5;
           border: 2px solid hsl(26, 100%, 55%);
       }
       
       .right {
           padding: 4rem;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
       }
       
       p {
           color: hsl(219, 9%, 45%);
           font-size: 16px;
       }
       
       .logo,
       .right h2 h1 {
           color: hsl(220, 13%, 13%);
       }
       
       .right h5 {
           color: hsl(26, 100%, 55%);
       }
       
       .discount {
           display: flex;
           gap: 30px;
       }
       
       #button1 {
           background-color: hsl(25, 100%, 94%);
           color: hsl(26, 100%, 55%);
           border: none;
           width: 10%;
           height: 25px;
           border-radius: 20%;
       }
       
       .cartbuttons {
           display: flex;
           justify-content: space-between;
           padding-top: 1rem;
       }
       
       #button2 {
           border: none;
           height: 3rem;
           width: 35%;
           border-radius: 10px;
       }
       
       #button2 img {
           padding:0 1.5rem 0 1.5rem;
       }
       
       #button3 {
           background-color: hsl(26, 100%, 55%);
           color: hsl(0, 0%, 100%);
           border: none;
           width: 60%;
           gap: 1rem;
           height: 3rem;
           border-radius: 10px;
       }
       
       .attribution {
           font-size: 11px;
           text-align: center;
       }
       
       .attribution a {
           color: hsl(228, 45%, 44%);
       }
       
       @media only screen and (max-width: 375px) {
           .container {
               display: flex;
               flex-direction: column;
               padding: 0;
               margin: 0;
           }
           .content {
               display: flex;
               flex-direction: column;
               padding: 0;
               margin: 0;
           }
           .one {
               padding: 0;
               height: 300px;
           }
           .mainImage {
               width: 365px;
               height: 300px;
               border-radius: 0px;
           }
           .arrows {
               margin-top: -190px;
               display: flex;
               gap: 17rem;
           }
           .two {
               display: none;
           }
           .right {
               width: 365px;
               height: 25rem;
               padding: 2em;
           }
           .mobNav {
               display: flex;
               justify-content: center;
               align-items: center;
               padding-top: 5%;
           }
           .avatar {
               height: 30px;
               margin-left: 20px;
           }
           .carticon {
               height: 20px;
           }
           .cartbuttons {
               justify-content: space-between;
               flex-direction: column;
               align-items: center;
               gap: 10px;
           }
           #button2 {
               gap: 1rem;
               width: 90%;
           }
           #button3 {
               width: 90%;
               padding-top: 1rem;
           }
           .menu {
               display: flex;
               width: 20%;
               margin-right: 20px;
           }
           .logo {
               width: 80%;
               margin-left: 15px;
           }
           .desk {
               display: none;
           }
       }